LOKI_URL=http://localhost:3100/loki/api/v1/push

LOG_FILE=/home/azureuser/cowrie/var/log/cowrie/cowrie.log
COWRIE_LOG_FILE=/home/azureuser/cowrie/var/log/cowrie/cowrie.log
GEO_DB_PATH=/var/lib/GeoIP/GeoLite2-City.mmdb
GEOIP_DB_PATH=/usr/share/GeoIP/GeoLite2-City.mmdb

LOG_ALERT_FILE=/home/azureuser/telegram_alert_log.txt

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_TO=

KEPLER_INPUT_CSV=kepler_ip_only.csv
KEPLER_OUTPUT_CSV=kepler_ready.csv
GEOIP_INPUT_CSV=cowrie_ip_logs.csv
GEOIP_OUTPUT_CSV=kepler_ready.csv

