.env
.env.*
!.env.example
.env.example
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/

*.log
geo_push.log
telegram_alert_log.txt

*.sqlite3
*.db
alerts.db
*.pem
*.key
*.crt

*.csv

*.mmdb

cowrie.log
cowrie.json
attack_map.html
data/

build/
dist/
*.egg-info/

.ipynb_checkpoints/

.vscode/
.idea/

.DS_Store
Thumbs.db

node_modules/
.next/
out/

honeypot-web/static/attack_map.html
honeypot-scripts/new_ips.csv
honeypot-scripts/attack_ips_geo.csv
last_position.txt